<%- include('head.ejs') %>
<body>
  <h1><%= title %></h1>

  <% if (error) { %>
    <p class="error">Could not add recipe (missing or duplicate name).</p>
  <% } %>

  <form action="/recipes" method="post" class="add-recipe">
</body>
</html>